h3,
h5 {
  text-align: center;
}

.container {
  padding-top: 20px;
  border-radius: 25px;
  box-shadow: 9px 9px 5px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
  max-width: 1200px;
  text-align: center;
}

.open-source {
  padding-left: 20px;
}

.search {
  padding-bottom: 10px;
  text-align: right;
}

#float-container {
  float: inline-end;
}

#forecast {
  text-align: center;
}
