h3 {
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#top-display {
  border-radius: 25px;
  display: inline;
  text-align: center;
  max-width: 1200px;
}

#td-weather {
  padding-bottom: 15px;
}
